<!-- require APlayer 
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.css">
<script src="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.js"></script> 
<script src="https://cdn.jsdelivr.net/npm/meting@2/dist/Meting.min.js"></script>-->

<link rel="stylesheet" href="{{.Site.BaseURL}}js/mating/APlayer.min.css">
<script src="{{.Site.BaseURL}}js/mating/APlayer.min.js"></script>
<!-- require MetingJS -->
<script src="{{.Site.BaseURL}}js/mating/Meting.min.js"></script>

<meting-js
	server="{{ .Get "server" }}"
	type="{{ .Get "type" }}"
	id="{{ .Get "id" }}">
	
</meting-js>

<meting-js
	auto="{{ .Get "qqurl" }}">
</meting-js>

<meting-js
	name="{{ .Get "name" }}"
	artist="{{ .Get "artist" }}"
	url="{{ .Get "url" }}"
	cover="{{ .Get "img" }}">
	
</meting-js>